<map name="usage" version="tango" theme="prism">
    <topic central="true" text="${messages.getMessage("TUTORIAL.HOW_TO_START",$noArgs,$locale)}" id="1">
        <icon id="sign_help"/>
        <topic position="171,-40" order="0" text="${messages.getMessage("TUTORIAL.TOPIC_PROPERTIES",$noArgs,$locale)}" id="11">
            <icon id="sign_cancel"/>
            <topic position="295,-92" order="1" text="${messages.getMessage("TUTORIAL.ADD_NOTES",$noArgs,$locale)}" id="31">
                <note><![CDATA[${messages.getMessage("TUTORIAL.SAMPLE_NOTE",$noArgs,$locale)}]]></note>
            </topic>
            <topic position="321,-118" order="0" text="${messages.getMessage("TUTORIAL.ADD_LINKS_WEBPAGES",$noArgs,$locale)}" id="7">
                <link url="http://www.google.com" type="url"/>
            </topic>
            <topic position="310,-14" order="3" text="${messages.getMessage("TUTORIAL.MULTIPLE_TEXT_STYLES",$noArgs,$locale)}"
                   id="32">
                <topic position="402,-40" order="0" text="${messages.getMessage("TUTORIAL.FONT_COLOR",$noArgs,$locale)}" id="33"/>
                <topic position="402,-13" order="1" text="${messages.getMessage("TUTORIAL.FONT_STYLE",$noArgs,$locale)}" id="35"/>
                <topic position="400,12" order="2" text="${messages.getMessage("TUTORIAL.FONT_TYPE",$noArgs,$locale)}" id="36"/>
            </topic>
            <topic position="302,38" order="4" text="${messages.getMessage("TUTORIAL.DIFFERENT_SHAPES",$noArgs,$locale)}" id="8"/>
            <topic position="298,-66" order="2" text="${messages.getMessage("TUTORIAL.FANCY_ICONS",$noArgs,$locale)}" id="43">
                <icon id="face_wink"/>
            </topic>
        </topic>
        <topic position="-188,-66" order="1" text="${messages.getMessage("TUTORIAL.EDITION_USING_KEYBOARD",$noArgs,$locale)}" id="22">
            <icon id="hard_keyboard"/>
            <topic position="-348,-119" order="0" id="26">
                <text><![CDATA[${messages.getMessage("TUTORIAL.MOVE_WITH_ARROWS",$noArgs,$locale)}]]></text>
            </topic>
            <topic position="-351,-88" order="1"
                   text="${messages.getMessage("TUTORIAL.START_TYPING_TO_EDIT_TEXT",$noArgs,$locale)}" id="24"/>
            <topic position="-357,-35" order="3" text="${messages.getMessage("TUTORIAL.ENTER_TO_ADD_SIBLING",$noArgs,$locale)}"
                   id="25"/>
            <topic position="-370,-62" order="2" text="${messages.getMessage("TUTORIAL.CTRL_TO_ADD_CHILD",$noArgs,$locale)}"
                   id="23"/>
            <topic position="-355,-8" order="4" text="${messages.getMessage("TUTORIAL.MORE_KEY_TIPS",$noArgs,$locale)}" id="50"/>
        </topic>
        <topic position="134,92" order="2" text="${messages.getMessage("TUTORIAL.SHARING",$noArgs,$locale)}" id="6">
            <topic position="253,65" order="0" text="${messages.getMessage("TUTORIAL.INVITE_FRIEND",$noArgs,$locale)}" id="9"/>
            <topic position="226,92" order="1" text="${messages.getMessage("TUTORIAL.EMBED_IN_BLOGS",$noArgs,$locale)}" id="10"/>
            <topic position="257,119" order="2" text="${messages.getMessage("TUTORIAL.PUBLISH_YOUR_MAPS",$noArgs,$locale)}" id="15"/>
        </topic>
        <topic position="-178,71" order="3" text="${messages.getMessage("TUTORIAL.EDITION_USING_MOUSE",$noArgs,$locale)}" id="2">
            <icon id="hard_mouse"/>
            <topic position="-327,22" order="0" id="4">
                <text><![CDATA[${messages.getMessage("TUTORIAL.DOUBLE_CLICK_TO_EDIT_TEXT",$noArgs,$locale)}]]></text>
            </topic>
            <topic position="-341,57" order="1" id="3">
                <text><![CDATA[${messages.getMessage("TUTORIAL.DOUBLE_CLICK_TO_ADD",$noArgs,$locale)}]]></text>
            </topic>
            <topic position="-327,92" order="2" id="5">
                <text><![CDATA[${messages.getMessage("TUTORIAL.DRAG_AND_DROP_TO_POSITION",$noArgs,$locale)}]]></text>
            </topic>
            <topic position="-336,123" order="3" text="${messages.getMessage("TUTORIAL.USER_THE_TOOLBAR",$noArgs,$locale)}" id="27"/>
        </topic>
    </topic>
    <relationship srcTopicId="22" destTopicId="2" lineType="3" endArrow="true" startArrow="false"/>
</map>
