<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="WiseMapping Java Tests" verbose="1">
    <test name="FreeMind Export Tests">
        <packages>
            <package name="com.wisemapping.test.freemind"/>
            <package name="com.wisemapping.test.export"/>
        </packages>
    </test>
    <test name="Model Tests">
        <packages>
            <package name="com.wisemapping.test.model"/>
        </packages>
    </test>
</suite>
