<html>
<body>
<ul>
    <li>User Name: ${user.fullName}</li>
    <li>Email: ${user.email}</li>
    <li>User Agent: ${userAgent}</li>
    <li>Mindmap Id: ${mapId}</li>
    <li>Mindmap Title: ${mapTitle}</li>
</ul>
<pre style="border:1px dashed #a9a9a9">
    ${errorMsg}
</pre>

<pre style="border:1px dashed #a9a9a9">
    ${mapXML}
</pre>

</body>
</html>