<html>
<body>
<ul>
    <li>User Name: ${fullName}</li>
    <li>Email: ${email}</li>
    <li>Server: ${server}</li>
    <li>RequestURI: ${requestURI}</li>
    <li>Method: ${method}</li>
    <li>User Agent: ${userAgent}</li>
    <li>Remote Address: ${remoteAddress}</li>


    #if($mapId)
        <li>Mindmap Id: ${mapId}</li>
    #end
    #if($mapTitle)
        <li>Mindmap Title: ${mapTitle}</li>
    #end
</ul>

<pre style="border:1px dashed #a9a9a9">
    ${errorMsg}
</pre>

#if($mapXML)
<pre style="border:1px dashed #a9a9a9">
    ${mapXML}
</pre>
#end

</body>
</html>