@import "common.css";
@import "widget/lightbox.css";
@import "libraries/moodialog/css/MooDialog.css";

html {
    overflow: hidden;
}

body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#waitDialog {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 200px;
}

#firstHeader {
    width: 100%;
}

#subHeader {
    position: absolute;
    width: 100%;
    height: 55px;
    top: 30px;
}

#waitingContainer, #errorContainer {
    position: relative;
    top: 80px;
    height: 120px; /*background: whitesmoke;*/
    background: #FEFEFE;
    opacity: .99;
    padding: 15px;
    width: 100%;
    border: 1px solid;
    border-color: #a9a9a9;

}

#errorContainer {
    width: 400px;
    border: 1px solid red;
}

#waitingContainer .loadingText {
    position: relative;
    top: 50%;
    margin-top: -35px;
    font-size: 30px;
    font-weight: bold;
    vertical-align: text-bottom;
    height: 30px;
    float: left;
}

#errorContainer .loadingText {
    position: relative;
    top: 50%;
    margin-top: -80px;
    font-size: 15px;
    font-weight: bold;
    vertical-align: text-bottom;
    height: 30px;
    float: right;
    padding-left: 120px;
}

#waitingContainer .loadingIcon {
    position: relative;
    background: url(../images/loadingIcon.gif) no-repeat;
    top: 50%;
    margin-top: -65px;
    height: 100px;
    width: 121px;
    float: left;
    clear: both;
}

#errorContainer .loadingIcon {
    position: relative;
    background: url(../images/errorIcon.png) no-repeat;
    top: 50%;
    margin-top: -65px;
    height: 100px;
    width: 121px;
    float: left;
    clear: both;
}

#infoContainer {
    float: left;
}

#infoContainer {
    float: left;
    padding-left: 5px;
}

#title {
    position: relative;
    left: 120px;
    top: 80px;
}

#operationsContainer {
    font-size: 12px;
    float: right;
    padding: 0 5px;
}

#operationsContainer a {
    padding: 0 5px;
}

#user {
    font-weight: bold;
    margin-right: 5px;
}

#toolbar {
    width: 100%;
    height: 25px;
    color: #ffffff;
    border-bottom: 2px solid black;
    position: absolute;
    top: 35px;
}

div#toolbar .buttonContainer {
    height: 44px;
    float: left;
    color: black;
}

.buttonContainer fieldset {
    border: 1px solid #BBB4D6;
    padding: 2px;
    margin: 1px;
    padding-bottom: 4px;
}

.buttonContainer legend {
    padding: 0.2em 0.5em;
    border: 1px solid #BBB4D6;
    background-color: #F5F5F5;
    color: #BBB4D6;
    font-size: 11px;
    text-align: right;
    margin: 0;
    -moz-margin-start: 7px;
    -moz-margin-end: 7px;
}

div#toolbar .buttonOn, div#toolbar .buttonOff, div#toolbar .buttonActive, div#toolbar .buttonOn:hover {
    width: 32px;
    height: 36px;
    float: left;
    margin: 0 2px 2px 2px;
    text-align: center;
}

div#toolbar .buttonOn:hover, div#toolbar .buttonActive {
    margin: 0 1px;
    cursor: pointer;
    border: 1px solid black;
    border-top-color: white;
    border-left-color: white;
    cursor: pointer;
}

div#toolbar .buttonOff {
    opacity: 0.4;
}
`
div#toolbar .button img {
    width: 30px;
    height: 30px;
    border: 0;
}

div#toolbar .toolbarLabel {
    position: relative;
    top: 55%;
    text-align: center;
    width: 34px;
    height: 36px;
    font-size: 10px;
}

.mapSeparator {
    width: 1px;
    height: 20px;
    background-color: #166D66;
    float: left;
    margin: 5px 3px;
}

div#file, div#zoom, div#node, div#font, div#share {
    position: absolute;
    top: -6px;
    left: 3px;
}

div#zoom {
    left: 229px;
}

div#node {
    left: 311px;
}

div#font {
    left: 679px; /*left:581px;*/
}

div#share {
    left: 874px; /*left:777px;*/
}

div#saveButton {
    background: url(../images/save.png) no-repeat center top;
}

div#discardButton {
    background: url(../images/close.png) no-repeat center top;
}

div#history {
    background: url(../images/history.png) no-repeat center top;
}

div#print {
    background: url(../images/file_printer.png) no-repeat center top;
}

div#undoEdition {
    background: url(../images/file_undo_dis.png) no-repeat center top;
}

div#redoEdition {
    background: url(../images/file_redo_dis.png) no-repeat center top;
}

#export {
    background: url(../images/file_export.png) no-repeat center top;
    position: relative;
}

#exportAnchor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

div#zoomIn {
    background: url(../images/zoom_in.png) no-repeat center top;
}

#zoomOut {
    background: url(../images/zoom_out.png) no-repeat center top;
}

#addTopic {
    background: url(../images/topic_add.png) no-repeat center top;
}

#deleteTopic {
    background: url(../images/topic_delete.png) no-repeat center top;
}

div#topicColor {
    background: url(../images/topic_bgcolor.png) no-repeat center top;
    z-index: 4;
}

div#topicIcon {
    background: url(../images/topic_icon.png) no-repeat center top;
    z-index: 4;
}

div#topicNote {
    background: url(../images/note.png) no-repeat center top;
    z-index: 4;
}

div#topicLink {
    background: url(../images/topic_link.png) no-repeat center top;
    z-index: 4;
}

div#topicNote {
    background-image: url(../images/note.png);
    z-index: 4;
}

#topicBorder {
    background: url(../images/topic_border.png) no-repeat center top;
    width: 30px;
}

#fontFamily {
    background: url(../images/font_type.png) no-repeat center top;
}

#topicShape {
    background: url(../images/topic_shape.png) no-repeat center top;
    width: 30px;
}

#fontBold {
    background: url(../images/font_bold.png) no-repeat center top;
}

#fontItalic {
    background: url(../images/font_italic.png) no-repeat center top;
}

div#fontColor {
    background: url(../images/font_color.png) no-repeat center top;
    z-index: 4;
}

#fontSize {
    float: left;
    background: url(../images/font_size.png) no-repeat center top;
}

#font-size {
    font-size: 10px;
}

.wiseToolbarButton {
    float: left;
    height: 16px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-right: 15px;
}

#shareIt {
    background: url(../images/collab_share.png) no-repeat center top;
}

#publishIt {
    background: url(../images/collab_publish.png) no-repeat center top;
}

#tagIt {
    background: url(../images/collab_tag.png) no-repeat center top;
}

#colorPalette {
    border: 1px solid #bbb4d6;
    display: none;
    position: absolute;
    z-index: 4;
    width: 160px;
    top: 89px;
}

#paletteHeader {
    background-color: #E5E5E5;
    height: 4px;
}

.toolbarPanel {
    color: black;
    border-color: #CCC #666 #666 #CCC;
    border-style: solid;
    border-width: 1px;
    background: #E5E5E5;
    display: none;
    position: absolute;
    z-index: 4;
    top: 71px;
    text-align: left;
}

div.toolbarPanelLink {
    cursor: pointer;
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding: 0 3px 0 4px;
    margin: 1px;
}

div.toolbarPanelLink {
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 0 3px 0 4px;
    margin: 1px;
}

div.toolbarPanelLink:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: #c3def5;
}

div.toolbarPanelLinkSelectedLink {
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 0 3px 0 4px;
    margin: 1px;
    background-color: #c3def5;
}

div#actionsContainer {
    position: absolute;
    z-index: 50;
    top: 35px;
    width: 190px;
    right: 0;
    margin: 10px;
    float: left;
}

#actionsContainer .button {
    float: right;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    cursor: pointer;
    margin: 2px;
    z-index: 4;
}

#actionsContainer .button:hover {
    color: blue;
}

#actionsContainer .mainButton {
    float: right;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    cursor: pointer;
    margin: 2px;
    z-index: 4;
}

#actionsContainer a {
    text-decoration: none;
}

#actionsContainer .buttonStart {
    width: 6px;
    height: 25px;
    background: url(../images/btnStart2.png) no-repeat left top;
    float: left;
}

#actionsContainer .buttonBody {
    background: url(../images/btnBody2.png);
    float: left;
    height: 18px;
    padding: 5px 5px 0;
    text-align: center;
    color: black;
}

#actionsContainer .buttonEnd {
    width: 7px;
    height: 23px;
    background: url(../images/btnEnd2.png) no-repeat right top;
    float: left;
}

/* ------------- Footer Styles -------------------------*/
div#footerEditor {
    position: absolute;
    height: 60px;
    width: 100%;
    background: #E5E5E5;
    border-top: 1px solid #bbb4d6;
    bottom: 0;
}

#logo {
    height: 50px;
    width: 80px;
    float: right;
    margin: 5px;
    background: url(../images/logo-vsmall.png) no-repeat right top;
}

#footerEditor .msgLoggerContainer {
    position: relative;
    width: 550px;
    height: 36px;
    left: 50%;
    margin-left: -300px;
    top: 10px;
    opacity: 0;
    visibility: hidden;
}

div#msgStart {
    float: left;
    height: 36px;
    width: 16px;
    background: url(../images/footerStart.png) no-repeat right top;
}

div#msgEnd {
    float: left;
    height: 36px;
    width: 16px;
    background: url(../images/footerEnd.png) no-repeat right top;

}

div#msgLogger {
    float: left;
    height: 36px;
    width: 500px;
    background: url(../images/footerBody.png) repeat-x right top;
    text-align: center;
    white-space: nowrap;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
}

/** Tab labels */
div#tabsHolder {
    width: 100%;
    height: 20px;
}

div#tabs {
    float: left;
}

div.tabContent {
    clear: left;
    width: 100%;
    height: 63px;
    border-bottom: 1px solid #bbb4d6;
    border-top: 1px solid #bbb4d6;
    background: #E5E5E5;
    display: none;
    position: absolute;
    left: 0;
}

ol#toc {
    height: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ol#toc li {
    float: left;
    margin: 0 1px 0 0;
    border: 0;
}

ol#toc a {
    background: #fff url(../images/tab4.png);
    color: #008;
    display: block;
    float: left;
    height: 25px;
    padding-left: 10px;
    text-decoration: none;
}

ol#toc a:hover {
    background-color: #fff;
    background-position: 0 -121px;
}

ol#toc a:hover span {
    background-position: 100% -121px;
}

ol#toc li.current a {
    background-color: #fff;
    background-position: 0 -61px;
    color: #008;
    font-weight: bold;
}

ol#toc li.current span {
    background-position: 100% -61px;
}

ol#toc span {
    background: #fff url(../images/tab4.png) 100% 0;
    display: block;
    line-height: 2em;
    padding-right: 10px;
}

#mindplot {
    position: relative;
    top: 103px;
    left: 0;
    width: 100%;
    border: 0;
}

#workspaceContainer {
    background: url(../images/grid.gif) bottom left repeat !important;
}

span#lastSaved {
    font-size: 10px;
}

.label {
    border: none;
    color: #ffffff;
    font-weight: bold;
}

.label :hover {
    cursor: pointer;
}

#tryEditorWarning {
    position: absolute;
    margin: 20px auto;
    width: 300px;
    right: 10px;
    top: 100px;
    padding: 20px;
    opacity: 0.9;
    cursor: move;
    background-color: #69686F;
    filter: alpha(opacity = 90);
    color: #000c8f;
}

#tryEditorWarning a {
    color: white;
    font-weight: bold;
}

#tryEditorWarning h1 {
    color: #f5f5f5;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

div#helpContainer {
    position: absolute;
    margin: 20px auto;
    z-index: 3;
    opacity: 0.9;
    width: 220px;
    top: 100px;
    left: 10px;
    color: #000c8f;
    padding: 20px;
    cursor: move;
    background-color: #69686F;
    filter: alpha(opacity = 90);
}

div#helpContent h1 {
    font-weight: bold;
    color: #f5f5f5;
    font-size: 15px;
}

div#helpContent h2 {
    font-weight: bold;
    padding: 20px 0 10px 0;
    color: #bfbfbf;
}

div.close {
    position: absolute;
    height: 12px;
    width: 12px;
    top: 7px;
    right: 10px;
    cursor: pointer;
    background: url(../images/close12_1.gif) bottom left no-repeat !important;
}

div#helpContent li {
    font-family: arial, helvetica, sans-serif;
    list-style-type: disc;
    margin-left: 12px;
    font-size: 11px;
}

div#small_error_icon {
    padding-left: 18px;
    min-height: 16px;
    background: url(../images/error_icon.png) bottom left no-repeat !important;
}

div#toolbar .topicRelation {
    width: 56px;
    background: url(../images/topic_relationship.png) no-repeat center top;
    z-index: 4;
}

div#toolbar .topicRelation:hover {
    width: 56px;
    background: url(../images/topic_relationship.png) no-repeat center top;
    z-index: 4;
}

div#toolbar .relationshiplabel {
    width: 56px;
}
