@import "common.css";
@import "thirdparty.css";

html {
    overflow: hidden;
}

#waitDialog {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100px;
}

#firstHeader {
    width: 100%;
}

#subHeader {
    position: absolute;
    width: 100%;
    height: 55px;
    top: 30px;
}

#loadingContainer {
    position: relative;
    top: 80px;
    height: 120px; /*background: whitesmoke;*/
    background: #FEFEFE;
    opacity: .99;
    padding: 15px;
    width: 100%;
    border: 1px solid darkgray;

}

#loadingContainer .loadingText {
    position: relative;
    top: 50%;
    margin-top: -35px;
    font-size: 30px;
    font-weight: bold;
    vertical-align: text-bottom;
    height: 30px;
    float: left;
}

#loadingContainer .loadingIcon {
    position: relative;
    background: url( ../images/ajax-loader2.gif ) no-repeat;
    top: 25px;
    height: 100px;
    width: 70px;
    float: left;
    clear: both;
}

/* ------------- Footer Styles -------------------------*/
div#embFooter {
    position: absolute;
    height: 35px;
    width: 100%;
    bottom: 0;
    left: 0px;
    border-top: 1px solid black;
    background: #E5E5E5;
}

div#logo {
    height: 65px;
    width: 80px;
    position: absolute;
    background: url( ../images/logo-vvsmall.png ) no-repeat right top;
    behavior: url( ../css/iepngfix.htc );
    right: 10px;
    top: -10px;
}

.button {
    width: 18px;
    height: 16px;
    float: left;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    float: left;
    cursor: pointer;
    border: 1px solid black;
    border-top-color: white;
    border-left-color: white;
}

#zoomIn {
    background: url( ../images/zoom_in.png ) no-repeat left top;;
    behavior: url( ../css/iepngfix.htc );
    margin-top: 10px;
    margin-left: 10px;
}

#zoomOut {
    background: url( ../images/zoom_out.png ) no-repeat left top;;
    behavior: url( ../css/iepngfix.htc );
    margin-top: 10px
}

div#mindplot {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#workspaceContainer {
    background: url( ../images/grid.gif ) bottom left repeat !important;

}

#workspaceContainer {
    background: url( ../images/grid.gif ) bottom left repeat !important;

}

div#mapContainer {
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    height: 400px;
    width: 100%;
}

div#mapDetails {
    float: right;
    padding-top: 10px;
    margin-right: 100px;
}

div#mapDetails .title {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 3px;
}