@import "common.css";

#recentText {
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 5px 5px 0;
    color: #808080;
}

#mapListContainer {
    padding: 15px;
    height: 400px;
}

#recentFiles {
    margin: 10px auto 5px;
    width: 900px;
    height: 100%;
    padding: 8px;
}

#recentFiles a {
    text-decoration: none;
    color: #464545;
}

#recentFiles a:hover {
    color: #093A9D;
}

#recentFiles .recentItemContainer {
    height: 20px;
    background-color: white;
    padding: 0 0 0 7px;
    margin-top: 4px;
}

#recentFiles .recentItemIcon {
    float: left;
    width: 20px;
    height: 15px;
    background: url(../images/icon_list.png) no-repeat left;
}

#recentFiles .recentItemTitle {
    float: left;
    padding-left: 0;
    padding-right: 10px;
    font-size: 12px;
}

#mydocs {
    margin: 20px auto;
    width: 900px;
    height: 300px;
    padding: 10px;
    background-color: #C3DEF5;
    border: 1px solid #A7C6DF;
}

#toolbar .button {
    cursor: pointer;
    border: 1px solid #E5E5E5;
    float: left;
    padding: 5px;
    margin-right: 10px;
    margin-left: 5px;
    background-color: #838383;
    color: white;
    font-weight: bold;
}

#mydocs .button a {
    color: white;
    text-decoration: none;
}

#toolbar {
    clear: both;
    width: 900px;
    height: 35px;
    vertical-align: middle;
    z-index: 3;
    position: relative;
}

#toolbar .buttonContainer {
    float: left;
    position: relative;
    top: 50%;
    margin: -12px 5px 0;
    height: 24px;
}

#toolbar .dropDownContainer {
    margin-top: 5px;
    height: 24px;
}

#toolbar .buttonStart {
    float: left;
    width: 3px;
    height: 24px;
    background: url(../images/start_btn.gif) no-repeat left;
}

#toolbar .buttonBody {
    float: left;
    height: 19px;
    padding: 5px 5px 0;
    background: url(../images/body_btn.gif);
}

#toolbar .buttonEnd {
    float: left;
    width: 3px;
    height: 24px;
    background: url(../images/end_btn.gif) no-repeat left;
}

#actionsBtn {
    float: left;
    position: relative;
    top: 50%;
    margin: -15px 5px 0;
    width: 78px;
    height: 30px;
}

#newMapButton {
    float: left;
    position: relative;
    top: 50%;
    margin: -15px 5px 0;
    width: 78px;
    height: 30px;
}

.menuItem {
    color: black;
    padding: 2px;
    cursor: pointer;
    text-align: center;
}

#docTable .button {
    cursor: pointer;
}

#docTable {
    clear: both;
    width: 100%;
    height: 250px;
    overflow: auto;
    border: 0 solid gray;
    background-color: white;
    z-index: 2;
    position: relative;
}

#docTable table {
    width: 100%;
    border: 0 solid gray;
}

#docTable thead {
    background-color: #093A9D;
    font-size: 12px;
    font-weight: normal;
    padding: 5px;
}

#docTable td {
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 12px;
    padding: 3px;
}

#docTable th {
    color: white;
    border-right: 1px dotted #ffffff;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}

#docTable tbody tr:hover {
    background-color: #E2f0f6;
}

#docTable tr {
    padding: 5px;
}

#docTable .mapTitle {
    font-size: 13px;
    color: #666666;
    font-weight: bold;
}

#docTable .mapTags {
    font-size: 11px;
    color: black;
}

.content {
    background-color: white;
    height: 550px;
}

#myDocsContainer {
    width: 100%;
    text-align: center;
    float: left;
}

#recentItems {
    height: 100%;
    padding: 10px;
}

#recentFiles.sb {
    background: #EEEEEE;
    border:1px solid #E5E5E5;
    -moz-border-radius: 16px;
    -khtml-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius:16px;
}

#recentItems.sb {
    background: white;
    border:1px solid #E5E5E5;
    -moz-border-radius: 16px;
    -khtml-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius:16px;
}

#mydocs {
    -moz-border-radius: 16px;
    -khtml-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius:16px;
}
