@import "bootstrap/css/bootstrap.min.css";
@import "bootstrap/css/bootstrap-responsive.min.css";
@import "css/pageHeaders.css";


@html-background: #dedede repeat-x scroll;
@body-width: 956px;

@font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";
@base-font-size: 11px;

@base-margin: 10px;
@base-padding: @base-margin;
@base-border-size: 1px;
@base-color: #111;

/* ----------------------------- General -------------------------------- */

#mindmapListContainer {
    background: #FFFFFF;
    margin: 0 auto;
    width: @body-width;
    padding: @base-padding;
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}


/* ------------------------------ Table --------------------------------- */

@table-gap: 2%;
@table-width: 100%;

#map-table {
    width:  100% !important;
    display: inline-block;
    float:right;
    border-top: 1px solid black
}

input#selectAll {
    position: relative;
    left: 4px;
}

@even-color: #FFFFFF;
@sorting-even-color: #EAEBFF;
@odd-color: #E2E4FF;
@sorting-odd-color: #D3D6FF;

@red: #FF0000;
@base-border-size: 1px;
@base-color: #111;
@base-margin: 10px;

@th-background-color: #FFFFFF;

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}


.dataTables_filter {
	float:right;
}

#mindmapListTable th {
    padding: 4px;
}

/* Pagination Styles */
#paginateContainer {
    height:40px;
    width:100%;
}

.dataTables_length {
	float: right;
}

.dataTables_paginate {
    display: none;
}

/* ---------------------------- Sorting --------------------------------- */

.sorting_asc {
	background: @th-background-color url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: @th-background-color url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: @th-background-color url('../images/sort_both.png') no-repeat center right;
}

.sorting_disabled {
	background: @th-background-color;
}

.sorting_asc_disabled {
	background: @th-background-color url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: @th-background-color url('../images/sort_desc_disabled.png') no-repeat center right;
}

/* ----------------------------- Misc ----------------------------------- */

.dataTables_empty {
	text-align: center;
}

/* New styles */
.row-selected  {
    background-color: #f5f5f5;
}

#buttonsToolbar {
    margin: 30px 0px 10px 0px
}

#tableActions {
    float: right;
    width: 350px;
    white-space:nowrap;
}

#tableActions > div {
    float: right;
    margin-left:5px;
}

#pageInfo {
    padding-top:5px;
    padding-left:8px;
    font-weight: bold;
}

#tableFooter {
    width:100%;
    height:50px;
    white-space:nowrap;
}

#foldersContainer {
    width: 15%;
    float: left;
    margin-right: 2%;
    margin-top: 80px
}
