@import "../bootstrap/css/bootstrap.min.css";
@import "../bootstrap/css/bootstrap-responsive.min.css";
@import "pageHeaders.css";

div#register {
    margin: 40px auto;
    text-align: center;
    white-space: nowrap;
}

div#register a {
    color: #003399;
    font-weight: bold;
}

div#pageContainer {
    position: relative;
    min-height: 100%;
}

div.bodyContainer {
    padding-top: 30px;
    padding-bottom: 85px; /* Height of the footer */
}

div.bodyContainer h1 {
    color: #093A9D;
    font-size: 150%;
    margin-bottom: 5px;
    font-weight: bold;
}

div.bodyContainer h2 {
    color: gray;
    font-size: 150%;
    border-bottom: 1px dashed #BBB4D6;
    margin: 20px 0;
}

div.bodyContainer ul {
    padding: 5px;
}

div.bodyContainer li {
    list-style-type: disc;
    margin-left: 12px;
}

#footerContainer {
    padding-top: 10px;
    border-top: 1px black solid;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px; /* Height of the footer */
    background: #ffffff;
}

/*--   End Main Page Style -- */

span.errorMsg {
    color: red;
}

div.fform {
    background: #eeeeee;
    border: 1px solid #cfcfcf;
    padding: 5px 25px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

div.fform label {
    font-weight: bold;
}

