/* GLOBAL COMPONENTS */
@import "common.css";

/* INTRO STYLES */
.button {
    cursor: pointer;
}

.contentDescription {
    font-size: 15px;
    font-weight: normal;
}

#loginContent .loginNews {
    float: left;
    width: 400px;
}

#joinContent {
    padding: 5px 10px;
}

/* Finish homepage styles  */

div#mainBody {
    margin: 10px auto;
    width: 800px; /*margin-bottom: 100px; *//* height brokes all the tables on IE*/
    height: 300px;
}

div#login {
    float: right;
    width: 350px;
    padding: 10px;
}

#forgotPasswordContainer {
    width: 500px;
    padding: 10px;
}

/* This is used to fix IE explorer bug rendering rounded corners*/
div#loginContent {
    width: 100%;
    min-height: 250px;
}

div#loginContent td, div#userRegistrationContent td, div#forgotPasswordContent td {
    padding: 3px;
}

div#login h1, div#forgotPasswordContainer h1, div#userRegistration h1 {
    color: gray;
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: normal;
}

div#forgotPasswordContainer h2, div#userRegistration h2 {
    color: black;
    margin-bottom: 5px;
    font-size: 110%;
    border: none;
    font-weight: normal;
}

div#userRegistration {
    padding: 10px;
}

div#register {
    position: relative;
    margin: 10px auto;
    width: 800px;
    text-align: center;
    white-space: nowrap;
}

div#register a {
    color: #003399;
    font-weight: bold;
}

/* WiseMap details */
#detailContent {
    width: 700px;
    height: 100%;
    padding: 10px;
}

#detail {
    margin: 10px auto;
    height: 100%;
    padding: 8px;
}

#detail table {
    background-color: white;
    width: 100%;
}

#detail td {
    padding: 5px;
    vertical-align: top;
}

#detailTitle {
    color: #093A9D;
    font-weight: bold;
    font-size: 14px;
    padding-left: 5px;
}

#detailTitle img {
    padding-left: 5px;
}

#detailTitle span {
    color: #8e9181;
    font-weight: normal;
    font-size: 14px;
}

#detail h1 {
    color: black;
    font-weight: bolder;
}

#detail .evenRow {
    background-color: #ebeef1;
}

#detail .oddRow {
    background-color: #eff3f5;
}

div.pageBodyContent ol {
    margin-left: 12px;
}

div.pageBodyContent ul {
    list-style-position: outside;
}

div.pageBodyContent ol li {
    list-style-type: decimal;
}

#login.sb, #userRegistration.sb, #forgotPasswordContainer.sb {
    background: #eeeeee;
    border: 1px solid #cfcfcf;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#detailContent.sb {
    background: #C3DEF5;
    border: 1px solid #A7C6DF;
    -moz-border-radius: 16px;
    -khtml-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

#detail.sb {
    background: white;
    border: 1px solid #E5E5E5;
    -moz-border-radius: 16px;
    -khtml-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

#userRegistration.sb {
    background: #eeeeee;
    border: 1px solid #cfcfcf;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 16px;
}

#importContainer table {
    background: #eeeeee;
    border: 1px solid #cfcfcf;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 16px;
}

