@import "../bootstrap/css/bootstrap.min.css";
@import "../bootstrap/css/bootstrap-responsive.min.css";

@import "pageHeaders.css";

html, body {
    height: 100%;
}

div#register {
    margin: 40px auto;
    text-align: center;
    white-space: nowrap;
}

div#register a {
    color: #003399;
    font-weight: bold;
}


div.pageBodyContent ol {
    margin-left: 12px;
}

div.pageBodyContent ul {
    list-style-position: outside;
}

div.pageBodyContent ol li {
    list-style-type: decimal;
}


div.pageBody {
    min-height: 80%;
}

div.pageBodyContent {
    padding-top: 30px;
}

div.pageBodyContent h1 {
    color: #093A9D;
    font-size: 150%;
    margin-bottom: 5px;
    font-weight: bold;
}

div.pageBodyContent h2 {
    color: gray;
    font-size: 150%;
    border-bottom: 1px dashed #BBB4D6;
    margin: 20px 0;
}

div.pageBodyContent ul {
    padding: 5px;
}

div.pageBodyContent li {
    list-style-type: disc;
    margin-left: 12px;
}

/*--   End Main Page Style -- */

/* Share Styles */
#userEmails {
    float: left;
    width: 50%;
    padding: 5px;
}

#userEmails textarea {
    width: 100%;
}

#currentUsers {
    float: left;
    width: 40%;
    height: 400px;
    padding: 5px;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px dotted gray;
}

#currentUsers table {
    width: 100%;
}

#invitation {
    border: 1px dotted gray;
}

span.errorMsg{
    color: red;
}

div.fform {
    background: #eeeeee;
    border: 1px solid #cfcfcf;
    padding: 5px 25px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

div.fform label {
    font-weight: bold;
}

