@import "commonOldIE.css";

#searchResult .sb-inner {
    background: #C3DEF5;
}

#searchResult .sb-border {
    background: #A7C6DF;
}

#join .sb-inner {
    background: #9a8fc3;
}

#join .sb-shadow {
    background: white;
}

#join .sb-border {
    background: #A29BBF;
}

#newsAndArticles .sb-inner, #recentMaps .sb-inner {
    background: #c3def5;
}

#newsAndArticles .sb-shadow, #recentMaps .sb-shadow {
    background: white;
}

#newsAndArticles .sb-border, #recentMaps .sb-border {
    background: #A7C6DF;
}

#recentMapsContent .sb-inner, #newsContent .sb-inner {
    background: white;
}

#recentMapsContent .sb-border, #newsContent .sb-border {
    background: #A7C6DF;
}

#search .sb-inner {
    background: white;
}

#search .sb-shadow {
    background: white;
}

#search .sb-border {
    background: #6186CB;
}

div#login .sb-inner, div#forgotPasswordContainer .sb-inner, div#userRegistration .sb-inner {
    background-color: #eeeeee;
}

div#login .sb-border, div#forgotPasswordContainer .sb-border, div#userRegistration .sb-border {
    background-color: #cfcfcf;
}

#detailContent .sb-inner {
    background: #C3DEF5;
}

#detailContent .sb-border {
    background: #A7C6DF;
}

#detail .sb-inner {
    background: white;
}

#detail .sb-border {
    background: #E5E5E5;
}

#login.sb, #forgotPasswordContainer.sb, #userRegistration.sb, #detailContent.sb, #detail.sb, #searchResult.sb{
    background: transparent;
    border:0 solid #A7C6DF;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius:0px;
}