<html>
<body>
<h3>Welcome to WiseMapping!</h3>
<p>
	Your account has been activated.
	First Name: ${user.firstname}
    Last Name: ${user.lastname}
    Username: ${user.username}
</p>
<p>
	Thank you for using WiseMapping.
</p>
<p>
	For questions or concerns regarding your account, send us an email to support@wisemapping.com.
</p>
<p>
Best regards, <br/>
WiseMapping Team
<a href="http://www.wisemapping.com">WiseMapping Site</a>
</p>
</body>
</html>