<html>
<body>
<div style="background-color: #fbeed5; max-width: 650px; font-family: Arial, sans-serif; color: #000; padding: 5px;">
    <div style="height: 60px; font-size: 14px; font-weight: bold; padding-bottom: 4px;">
        <table style="display: inline;width: 100%;">
            <tbody>
            <tr>
                <td height="50px" width="2px"
                    style="padding: 0; padding-right: 5px; text-align:center;font-weight: normal;font-family: Arial, sans-serif">
                    <a href="${baseUrl}">
                        <img style="border: 0;margin-top: 10px;"
                             src="${baseUrl}/images/logo-small.png"
                             alt="WiseMapping Log"/>

                    </a>
                </td>
                <td valign="bottom" height="32px" style="padding: 0;font-size: 16px;">
                    Your password has been reset
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="font-size: 13px; background-color: #FFF; padding: 10px 7px 7px 7px; min-height: 100px">
        <p>A temporal password has been generated for you account. </p>

        <p><strong>New Password: ${password}</strong></p>

        <p>You can login clicking <a href="${baseUrl}/c/login">here</a>.We strongly encourage you to change the password as soon as possible.</p>
    </div>
</div>

<p style="font-size: 13px;font-family: Arial, sans-serif">Important: Do not reply this email. If
    you need further help or have any concerns regarding your account, contact us to <a href="mailto:${supportEmail}">here</a>.
</p>
</body>
</html>