<html>
<body style="font-family: Arial, sans-serif; color: #000;">
<p>
    Hi,
</p>

<p>
    Thank you so much for your interest in WiseMapping. Your subscription was a success! If you have any questions or
    have any feedback, please don't hesitate to reply to this email, or use the on line form. We'd love to hear from
    you.
</p>

<p>
    For questions or concerns regarding your account, send us an email to ${supportEmail}.
</p>

<p>
    Cheers, <br/>
    The WiseMapping Team.
    <a href="${baseUrl}">WiseMapping Site</a>
</p>
</body>
</html>