*/target
*/*.iml
wisemapping.ipr
wisemapping.iws
wisemapping.iml
wisemapping.ids
wise-webapp/wisemapping.log*
wise-webapp/velocity.log
wisemapping.log*
*/.DS_Store
.DS_Store
target
.idea
wise-webapp/src/main/webapp/react/*
