#  Template maven-build

#  This template allows you to test and build your Java project with Maven.
#  The workflow allows running tests, code checkstyle and security scans on the default branch.

# Prerequisites: pom.xml and appropriate project structure should exist in the repository.

image: maven:3.6.3

pipelines:
  default:
    - parallel:
      - step:
        name: Build and Test
        caches:
          - maven
          - node
        script:
          - curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.36.0/install.sh | bash
          - . $HOME/.nvm/nvm.sh && nvm install node
          - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.3.2 || true
          - export PATH=$HOME/.yarn/bin:$PATH
          # Workaround for jaxb plugin bug on java 11 or higher.
          - export MAVEN_OPTS="--illegal-access=permit"
          - yarn --version
          - mvn -B verify --file pom.xml install
          after-script:
            # Collect checkstyle results, if any, and convert to Bitbucket Code Insights.
            - pipe: atlassian/checkstyle-report:0.2.0
        - step:
          name: Security Scan
          script:
            # Run a security scan for sensitive data.
            # See more security tools at https://bitbucket.org/product/features/pipelines/integrations?&category=security
            - pipe: atlassian/git-secrets-scan:0.4.3
        - step:
           runs-on: self.hosted
           script: echo hello