<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="WiseWebServicesSuite" verbose="1" >
  <test name="WiseMapping Web Services Integration API">
    <groups>
      <run>
        <exclude name="wsintegration"/>
      </run>
    </groups>
    <packages>
      <package name="com.wisemapping.ws.test" />
   </packages>
 </test>
</suite>