<html>
<body>
<p>
	Hi,
</p>
<p>
Thank you so much for your interest in WiseMapping. Your subscription was a success! If you have any questions or have any feedback, please don't hesitate to reply to this email, or use the on line form. We'd love to hear from you.
</p>
<p>
Since we are currently in "private beta" phase, we are inviting people from the list you just signed up for every day. So sit tight because you might be the next one.
</p>
<p>
	For questions or concerns regarding your account, send us an email to support@wisemapping.com.
</p>
<p>
Cheers, <br/>
The WiseMapping Team.
<a href="http://www.wisemapping.com">WiseMapping Site</a>
</p>
</body>
</html>