#lightbox {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    width: 300px;
    height: 300px;
    margin: -150px 0 0 -150px;
}

#lightbox[id] {
    position: fixed;
}

#overlay-lightbox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 3000px; /* IE hack */
    height: 3000px; /* IE hack */
    z-index: 5000;
    /*background-color: snow;*/
    background-color: #000;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity = 80);
}

#overlay-lightbox[id] {
    position: fixed;
}

#lightbox.done #lbLoadMessage {
    display: none;
}

#lightbox.done #lbContent {
    display: block;
}

#lightbox.loading #lbContent {
    display: none;
}

#lightbox.loading #lbLoadMessage {
    display: block;
}