
@html-background: #dedede repeat-x scroll;
@body-background: transparent no-repeat center top;
@body-width: 956px;

@font-family: "Lucida Grande", "Arial", "Helvetica", "Verdana", "sans-serif";
@base-font-size: 11px;

@base-margin: 10px;
@base-padding: @base-margin;
@base-border-size: 1px;
@base-color: #111;

/* ----------------------------- General -------------------------------- */

html {
    overflow-y: scroll;
    background: @html-background;
}

body {
    margin: 0;
    padding: 0 20px 20px 20px;
    background: @body-background;
    min-height: 100%;
    font-family: @font-family;
    font-size: @base-font-size;
}

#wrapper {
    background: #FFFFFF;
    margin: 0 auto;
    width: @body-width;
    position: relative;
    padding: @base-padding;
}

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

/* ------------------------------ Tags ---------------------------------- */

@tags-width: 20%;
@tags-border-size: @base-border-size;
@tags-padding: @base-padding;

#tags {
    width: @tags-width;
    opacity: 0;
    padding: @tags-padding;
    float: left;
    border-right: none;
    position: absolute;
    background: @base-color * 14.5;
    border: @base-border-size solid @base-color * 14;

    h2 {
        font-size: @base-font-size * 1.5;
        margin-top: 0px;
    }

    div.tag {
        margin-bottom: @base-margin;

        .ui-icon {
            float:left;
            margin-right: @base-margin / 2;
            position: relative;
            top: -2px;
        }
    }

    #tags-actions {
        margin-top: @base-margin;
    }
}

/* ------------------------------ Table --------------------------------- */

@table-gap: 2%;
@table-width: 100% - (@tags-width + (@tags-padding / @body-width * 100) + @table-gap);

#map-table {
    width:  100% !important;
    display: inline-block;

}

/* ----------------------------- Toolbar -------------------------------- */

#toolbar {
    border: @tags-border-size solid @base-color * 11;
    padding: @base-padding;
    margin-bottom: @base-margin;
}


/* ----------------------------- Buttons -------------------------------- */
#buttons {
    margin-left: @tags-width;
    margin-bottom: @base-margin;
}