<html>
<body>
<div>
    <h3>${messages.getMessage("CONFIRMATION.EMAIL_TITLE", $noArg, $locale)}</h3>

    <p>
        ${messages.getMessage("CONFIRMATION.EMAIL_INTRO", $noArg, $locale)}
    </p>
    <a href="${emailcheck}">${emailcheck}</a>
    </p>
    <p>
        ${messages.getMessage("CONFIRMATION.EMAIL_ERROR", $noArg, $locale)}
    </p>

    <p>
        ${messages.getMessage("CONFIRMATION.EMAIL_LINK_HELP", $noArg, $locale)}
    </p>

    <p>
        ${messages.getMessage("CONFIRMATION.EMAIL_SUPPORT", ["support@wisemapping.com"], $locale)}
    </p>

    <p style="color: #898989;">
        <a href="https://www.wisemapping.com/">${messages.getMessage("SHARE_MAP.EMAIL_TEAM", $noArg, $locale)}</a><br/>
    </p>
<div>
</body>
</html>